@import "../../vars.css";

.container {
  color: var(--color-text);
  text-align: center;
  padding: 3rem;
}

.title {
  display:flex;
  justify-content: center;
  color: var(--color-text);
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.certificate {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:5rem;
}

.image {
  height:300px;
  width:400px;
   box-shadow: 0 16px 14px 0 #04152d;
}

@media screen and (max-width: 830px) {

.image {
  height:210px;
  width:300px;
}
}

