@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Lavishly+Yours&display=swap');

.navbar {
  position: fixed;
  top: 0; 
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2px;
  z-index: 2;
  color: white;
  padding: 0.3rem 1rem;
  background: rgba(44, 14, 216, 0.5);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
}

.title {
   font-family: "Lavishly Yours", cursive;
  font-weight: 800;
  font-size:30px;
  padding-left: 2rem;
  font-style: normal;
}


.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.menuItems a:hover {
  color: rgb(58, 16, 97); 
}


@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
