@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #ccd0df 0%, #766bdd 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  max-width: 300px;
}

.image {
  height:200px;
  width:300px;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;

}

.description {
  height:100px;
  font-size: 15px;
  font-weight: 400;
  padding:1rem;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 400;
  border-radius: 100px;
  padding: 4px 25px;
  width:fit-content;
  border:0.1rem rgb(253, 253, 253) solid;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background-color: rgb(100, 87, 223);
  color: white; 
  margin-bottom: 2rem;
}

.link:hover{
  background-color:white;
  color:rgb(100, 87, 223);
  font-weight: 600;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}